<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sales Regression Suite" >
<listeners>
<listener class-name="com.Ecolite_Web.Listeners.Listeners"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_001_VerifyItemsAddedIsPresentInCart"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_002_VerifyCustomerNameInCartPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_003_VerifyCustomerNameInCheckOutPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_004_VerifyStockAfterSale"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_005_VerifyDeletionOfItemsInCartPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_006_VerifyTotalAmtWithItemPrice"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_007_VerifyHighestMRPisDisplayed"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_008_VerifyTotalItemsCount"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_009_VerifyTotalAmountInCheckOutPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_010_VerifyPaymentMode_Cash"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_011_VerifyPaymentMode_Card"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_012_VerifyStockDisplayedIsCorrect"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_013_VerifyAddNewBatch"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_014_VerifySalesStart"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_015_VerifySalesAfterAddNewBatch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
