<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name="com.Ecolite_Web.Listeners.Listeners"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_001_VerifyItemsAddedIsPresentInCart"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_002_VerifyCustomerNameInCartPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_003_VerifyCustomerNameInCheckOutPage"/>
      <class name="com.Ecolite_Web.Ecolite_Sales.TC_004_VerifyStockAfterSale"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
